.page-company {
  .company-info-wrap {
    padding: map_get($global-spacing, a) 0 map_get($global-spacing, l);

    dl {
      max-width: map_get($global-width, content);
      display: flex;
      font-size: map_get($global-font-size, c);
      line-height: 1.56;
      font-family: NotoSansCJKjp-Regular ,$global-default-family;

      dt {
        width: 300px;
      }

      dd {
        flex: 1;
      }

      &+dl {
        margin-top: map_get($global-spacing, h);
      }
    }
  }
  .company-map-wrap {
    height: 500px;
  }
}