.page-index {
  .index-home-wrap {
    position: relative;
    padding-bottom: (180/$calc-base-num)*$global-font-unit;

    .main-wrap {
      position: relative;
      display: flex;
      align-items: flex-end;
      z-index: map_get($global-zIndex, b);
    }
  }

  //index banner style
  .index-home-slick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    .slick-item {
      height: 100vh;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    .slick-item:nth-child(1) {
      background-image: url("../image/index/banner/home-bg-01.jpg");
    }

    .slick-item:nth-child(2) {
      background-image: url("../image/index/banner/home-bg-02.jpg");
    }

    .slick-item:nth-child(3) {
      background-image: url("../image/index/banner/home-bg-03.jpg");
    }

    .slick-item:nth-child(4) {
      background-image: url("../image/index/banner/home-bg-04.jpg");
    }
  }

  //index banner style end

  .home-content-wrap {
    color: #fff;

    h2 {
      font-size: map_get($global-font-size, h);
      line-height: 1.1;
      font-family: NotoSansCJKjp-Bold ,$global-default-family;
    }

    h3 {
      font-size: map_get($global-font-size, h);
      line-height: 1.5;
      font-family: SFNSDisplay ,$global-default-family;
      font-weight: 500;
    }

    p {
      font-size: map_get($global-font-size, i);
      line-height: 1.6;
      margin-top: map_get($global-spacing, g);
      font-family: NotoSansCJKjp-Medium ,$global-default-family;
    }

    a {
      display: inline-block;
      background-color: map_get($global-color, a);
      padding: map_get($global-spacing, e) map_get($global-spacing, g);
      color: #fff;
      font-size: map_get($global-font-size, b);
      margin-top: map_get($global-spacing, c);
      letter-spacing:3px;
      transition: all map_get($global-time, transition);

      &:hover {
        background-color: #fff;
        color: map_get($global-color, a);
      }
    }
  }

  .index-title-wrap {
    color: #000;
    border: 1px dashed map_get($global-color, d);
    padding: map_get($global-spacing, l) 0;

    .index-title-cont {
      display: flex;
      margin-left: 30%;

      h3 {
        font-size: map_get($global-font-size, d);
        line-height: 1.19;
        width: 440px;
        font-family: SFNSDisplay ,$global-default-family;

        &:before {
          content: '';
          display: block;
          width: 50px;
          height: 3px;
          background-color: map_get($global-color, a);
          margin-bottom: map_get($global-spacing, e);
        }
      }

      li + li {
        font-size: map_get($global-font-size, e);
        margin-left: map_get($global-spacing, m);
        width: 220px;
        font-family: NotoSansCJKjp-Regular ,$global-default-family;
      }
    }
  }
  .index-earphone-wrap {
    position: relative;
    display: block;
    padding: 10px;
    background: url("../image/index/home-pro-f2.jpg") center no-repeat;
    background-size: cover;
    height: 600px;

    &:hover .mask-wrap {
      opacity: .6;
    }

    .mask-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: all map_get($global-time, transition);
      z-index: 1;
    }

    .earphone-cont {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      border: 3px solid #fff;
      z-index: 1;

      h2 {
        font-size: map_get($global-font-size, l);
        color: #fff;
        letter-spacing: 10px;
        margin-left: 30%;
        font-family: DIN-Medium ,$global-default-family;
      }
    }
  }

  .index-other-wrap {
    display: flex;
    height: 400px;
  }

  .index-other-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-size: cover;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      transition: all map_get($global-time, transition);
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

    }
    &:hover {
      &:after {
        transform: scale(1.05);
      }
    }

    h4 {
      text-align: center;
      font-size: map_get($global-font-size, m);
      color: #fff;
      letter-spacing:8px;
      font-family: DIN-BoldAlternate ,$global-default-family;
    }
  }

  .index-other-shop {
    width: 62.5%;
    &:after {
      background-image: url("../image/index/home-shop-list.jpg");
    }
  }

  .index-other-company {
    flex-grow: 1;
    &:after {
      background-image: url("../image/index/home-company.jpg");
    }
  }
}