.page-product1 {

    header {
        border-top-color: map_get($global-color, b);
    }

    .clear {
        clear: both;
    }

    .banner-wrap {
        height: 300px;
        width: 100%;
        background-color: #f5f5f5;
        height: 16rem;
        padding-top: 3.6rem;
        padding-bottom: 1.34rem;
        overflow: hidden;
    }

    .banner-desc {
        white-space: nowrap;
    }

    .banner-desc> div {
       
    }

    .product-intro {
        display: inline-block;
        position: relative;
        width: 8.2rem;
        height: 2.85333rem;;
    }

    .banner-desc >img {
        display: inline-block;
        height: 11.053333rem;
    }

    .product1-name {
        width: 3.02666rem;
        height: 2.85333rem;
        font-size: 2.94666rem;
        line-height: 2.94666rem;
        display:  inline-block;
       
        vertical-align: bottom;
        position: absolute;
        bottom: .5rem;
        font-weight: 1000;

    }

    .product-desc {
        white-space: normal;
        width: 4.6rem;
        height: 2.85333rem;
        overflow: hidden;
        margin-left: .573333rem;
        display:  inline-block;
    
        vertical-align: bottom;
        position: absolute;
        left: 3rem;
        bottom: .5rem;
    }

    .product-left :nth-child(0) {
        font-size: .26666rem;
        line-height: .846666rem;
        letter-spacing:3px;
     //   height: 2.85333rem;
    }

    .product-desc :nth-child(1) {
        font-size: .22666rem;
      
        letter-spacing:3px;
     
     //   height: 2.85333rem;
    }


    .banner-desc >:nth-child(2) {
        margin-left: .293333rem;
        width: 5.84rem;
    }
 
    .banner-desc >:nth-child(3) {
        margin-left: .66666rem;
        width: 6.90666rem;
    }

    .func-wrap {
        overflow: hidden;
        position: relative;
        height: 19.27999rem;
    }

    .run-img {
        width: 100%;
      
        height: 8rem;
    }

    .run-img img {
        width: 64%;
        position: absolute;
    }

    .rock-img {
        width: 100%;
        position: relative;
        height: 8rem;
    }

    .rock-img img {
        width: 36%;
        right: 0;
        position: absolute;
    }

    .func-desc {
        position: absolute;
        top: 4.36rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .func-desc >div{
        width: 9rem;
    }

    .func-desc >img{
        width: 9rem;
    }

    .func-desc-line {
        height: .29rem;
        width: 100%;
        background-color: #ea001e;
        margin-top: 2.4rem;
    }

    .func-desc-title {

        font-size: 1.0666rem;
        font-weight: 600;
        line-height: 1.2rem;
    }

    .func-title-all{
        margin-top: .34rem;
    }

    .func-desc-content {
        font-size: .53333rem;
        line-height: .66666rem;
        color: rgba(17,17,17,1);
        font-weight:bold;
        margin-top: .3333rem;
    }

    .func-desc-detial {
        font-size: .22666rem;
        margin-top: .37333rem;
        font-weight:400;
        line-height:.34666rem;
    }

    .battery-main {
        margin-top: 1.8rem;
        background-color: #f0f2f5;
        padding-top: .97333rem;

    }

    .battery-banner {
        background-image: url('../../image/product1/battery.jpg');
        background-repeat:  no-repeat;
        background-size: 100% 100%;
        height: 8.10666rem;
    }

    .battery-content {
        padding-top: 2.84rem;
        width: 100%;
        height: 100%;

    }

    .battery-list {
        display: flex;
        justify-content: space-between;
    }

    .battery-list li{
        width: 6.5333rem;
        height: 1.90666rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #fff;
        color: #fff;
        padding: .32rem;
        font-size: .22666rem;
        line-height: .34666rem;
        font-weight: normal;
        position: relative;
    }

    .battery-list li::before {
        content: '';
        top:.6rem;
        left:-.4rem;;
        height: .69333rem;
        width: .2666rem;
        background-color: #fff;
        position: absolute;

    }

    .battery-list :nth-child(2){
        display: flex;
        justify-content: flex-end;
        
    }

    .battery-sum  {
        margin-top: 1.41333rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .64rem;
        line-height: .74666rem;
        letter-spacing: 8px;
        font-weight: 500;
    }

    .fun-list-all {
        margin-top: 2.58666rem;
    }

    .fun-list-all li{
        height: 2.30666rem;
        width: 46%;
        float: left;
        display: flex;
        // align-items: center;
    }

    .fun-list-all >:nth-child(2) {
        margin-left: 4%;
    }

    .fun-list-all >:nth-child(3) {
        margin-top: 1.3466rem;
    }

    .fun-list-all >:nth-child(4) {
        margin-left: 4%;
        margin-top: 1.3466rem;
    }

    .func-item-desc {
        flex: 1;
        
    }

    .func-item-desc :nth-child(1) {
        font-size: .32rem;
        
    }

    .func-item-desc :nth-child(2) {
        margin-top: .22666rem;
        font-size: .22666rem;
        line-height: .34666rem;
    }

    .func-item-img {
        height: 100%;
        margin-left: .2rem;
    }

    .func-item-img img{
        height: 2.30666rem;
    }

    .heatset-banner {
        background:url('../../image/product1/box.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 5.88rem;
        margin-top: 2.4666rem;
    }

    .heatset-color {
        height: 13.33333rem;
        width: 100%;
        background-color: #fff;
    }

    .heatset-color-main {
        height: 100%;

    }

    .color-li {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-li >p {
        font-size: .64rem;
        line-height: .74666rem;
        font-weight: bold;
    }

    .color-list {
        margin-top: .64rem;
    }

    .color-list li {
        display: inline-block;
        margin-left: .26666rem;
    }

    .color-list :nth-child(1) {
        width: .25rem;
        height: .25rem;
        border-radius: 100px;
        background-color: #000;
    }

    .color-list :nth-child(2) {
        width: .25rem;
        height: .25rem;
        border-radius: 100px;
        background-color: #f5f5f5;
    }

    .color-list :nth-child(3) {
        width: .25rem;
        height: .25rem;
        border-radius: 100px;
        background-color: #939392;
    }

    .color-prod {
        float: left;
        width: 50%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .color-prod li{
        display: inline-block;
    }
    
    .top :nth-child(2) {
        margin-left: 1.0666rem;
    }

    .bottom {
        margin-top: 0.66666rem;
    }

    .use-manual {
        background-color: #f0f2f5;
        height: 13.56rem;;
        border-bottom: 1px solid #b2b3b4;
    }

    .use-manual-main {
        padding: 2.4rem 0;
        height: 100%;

    }

    .use-manual-img {
        width: 50%;
        text-align: right;
        float: left;

     
    }

    .use-manual-desc {
        padding-left: .56rem;
        width: 50%;
        float: left;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .use-manual-img img {
        width: 7.9333rem;
        display: inline-block;
    }

    .manual-title div {
        display: inline-block;
        
    }

    .manual-title {
        white-space: nowrap;
        font-size:.64rem;
        font-weight:bold;
        color:rgba(0,0,0,1);
        line-height:.74666rem;
        letter-spacing:5px;
        display: flex;
        justify-content: space-between;
    }

    .white-title {
        padding: 5px 12px;
        background-color: #0698ec;
        color: #fff;
    }

    .manual-desc {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: .8rem;
    }

    .left-desc {
        font-size:.26666rem;
      
        font-weight:bold;
        color:rgba(0,0,0,1);
        line-height:.38666rem;
       
    }

    .right-desc {
        padding: .226666rem;
        border: 5px solid #0698ec;
        font-size:.2rem;
      
        font-weight:bold;
        color:rgba(33,150,243,1);
        line-height:.22666rem;
        letter-spacing:2px;
    }

    .use-manual-desc :nth-child(3) {
        margin-top: .53333rem;
    }

    .include-wrap {
        width: 100%;
        height: 4.69333rem;
        background-color: #f0f2f5;
        border-bottom: 1px solid #b2b3b4;
    }

    .include-wrap-desc {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .include-img {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;

    }

    .include-wrap-desc :nth-child(1) {
        font-size:.64rem;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:.74666rem;
        letter-spacing:8px;
    }

    .include-wrap-desc :nth-child(2) {
        margin-top: .45333rem;
        font-size:.21333rem;
        font-weight:bold;
        color:rgba(17,17,17,1);
     
    }

    .include-img img {
        width: 8.65333rem;
    }

    .product-imglist {
        width: 100%;
        height: 4.24rem;
        background-color: #f0f2f5;
    }

    .product-imglist-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-imglist-main >:nth-child(1) {
        background: url('../../image/product/product1.png') no-repeat;
        background-size: 100%;
        width: 8.66666rem;
        height: 3.06666rem;
        position: relative;
    }

    .product-imglist-main >:nth-child(2) {
        background: url('../../image/product/product2.png') no-repeat;
        background-size: 100%;
        width: 8.66666rem;
        height: 3.06666rem;
        position: relative;
    }

    .product1-img {
        position: absolute;
        right: .78666rem;
        bottom: 0;
        z-index: 30;
    }

    .product2-img {
        position: absolute;
        left: 1.25333rem;
        bottom: 0;
        z-index: 30;
    }

    .product-info {
        position: absolute;
        width: 98%;
        height: 94%;
        margin-left: 1%;
        margin-top: 1%;
        border: 1px solid #fff;
        z-index: 40;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .product-info >:nth-child(1) {
        font-size: 1.06666rem;
        line-height: 1.25333rem;
        color: #fff;
        font-weight: 500;
    }

    .product-info >:nth-child(2) {
        font-size: .26666rem;
       
        color: #fff;
       
    }

    .product-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
        z-index: 20;
        display: none;
    }
   
    .product-show1 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    .product-show2 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
    }
}