.page-product1 {

    .clear {
        clear: both;
    }

    .banner-wrap {
        height: 300px;
        width: 100%;
        background-color: #f5f5f5;
        height: 16rem;
        padding-top: 1.933333rem;
        padding-bottom: 1.34rem;
        overflow: hidden;
    }

    .banner-desc {
        white-space: nowrap;
    }

    .banner-desc> div {
       
    }

    .product-intro {
        display: inline-block;
        position: relative;
        width: 8.2rem;
        height: 2.85333rem;;
    }

    .banner-desc >img {
        display: inline-block;
        height: 11.053333rem;
    }

    .product1-name {
        width: 3.02666rem;
        height: 2.85333rem;
        font-size: 2.94666rem;
        line-height: 2.94666rem;
        display:  inline-block;
       
        vertical-align: bottom;
        position: absolute;
        bottom: .5rem;
        font-weight: 1000;

    }

    .product-desc {
        white-space: normal;
        width: 4.6rem;
        height: 2.85333rem;
        overflow: hidden;
        margin-left: .573333rem;
        display:  inline-block;
    
        vertical-align: bottom;
        position: absolute;
        left: 3rem;
        bottom: .5rem;
    }

    .product-left :nth-child(0) {
        font-size: .26666rem;
        line-height: .846666rem;
        letter-spacing:3px;
     //   height: 2.85333rem;
    }

    .product-desc :nth-child(1) {
        font-size: .22666rem;
      
        letter-spacing:3px;
     
     //   height: 2.85333rem;
    }


    .banner-desc >:nth-child(2) {
        margin-left: .293333rem;
        width: 5.84rem;
    }
 
    .banner-desc >:nth-child(3) {
        margin-left: .66666rem;
        width: 6.90666rem;
    }

    .func-wrap {
        position: relative;
        height: 19.27999rem;
    }

    .run-img {
        width: 100%;
      
        height: 8rem;
    }

    .run-img img {
        width: 64%;
        position: absolute;
    }

    .rock-img {
        width: 100%;
        position: relative;
        height: 8rem;
    }

    .rock-img img {
        width: 36%;
        right: 0;
        position: absolute;
    }

    .func-desc {
        position: absolute;
        top: 4.36rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .func-desc >div{
        width: 9rem;
    }

    .func-desc >img{
        width: 9rem;
    }

    .func-desc-line {
        height: .29rem;
        width: 100%;
        background-color: #ea001e;
        margin-top: 2.4rem;
    }

    .func-desc-title {

        font-size: 1.0666rem;
        font-weight: 600;
        line-height: 1.2rem;
    }

    .func-title-all{
        margin-top: .34rem;
    }

    .func-desc-content {
        font-size: .53333rem;
        line-height: .66666rem;
        color: rgba(17,17,17,1);
        font-weight:bold;
        margin-top: .3333rem;
    }

    .func-desc-detial {
        font-size: .22666rem;
        margin-top: .37333rem;
        font-weight:400;
        line-height:.34666rem;
    }

    .battery-main {
        margin-top: 1.8rem;
        background-color: #f0f2f5;
        padding-top: .97333rem;

    }

    .battery-banner {
        background-image: url('../../image/product1/battery.jpg');
        background-repeat:  no-repeat;
        background-size: 100% 100%;
        height: 8.10666rem;
    }

    .battery-content {
        padding-top: 2.84rem;
        width: 100%;
        height: 100%;

    }

    .battery-list {
        display: flex;
        justify-content: space-between;
    }

    .battery-list li{
        width: 6.5333rem;
        height: 1.90666rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #fff;
        color: #fff;
        padding: .32rem;
        font-size: .22666rem;
        line-height: .34666rem;
        font-weight: normal;
    }

    .battery-list :nth-child(2){
        display: flex;
        justify-content: flex-end;
        
    }

    .battery-sum  {
        margin-top: 1.41333rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .64rem;
        line-height: .74666rem;
        letter-spacing: 8px;
        font-weight: 500;
    }

    .fun-list-all {
        margin-top: 2.58666rem;
    }

    .fun-list-all li{
        width: 50%;
        float: left;
        display: flex;
        align-items: center;
    }

    .fun-list-all >:nth-child(3){
        margin-top: 1.3466rem;
    }

    .fun-list-all >:nth-child(4){
        margin-top: 1.3466rem;
    }

    .func-item-desc {
        flex: 1;
        
    }

    .func-item-desc :nth-child(1) {
        font-size: .32rem;
        
    }

    .func-item-desc :nth-child(2) {
        margin-top: .22666rem;
        font-size: .22666rem;
        line-height: .34666rem;
    }

    .func-item-img {
        height: 100%;
    }

    .func-item-img img{
        height: 100%;
    }

    .heatset-banner {
        background:url('../../image/product1/box.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 5.88rem;
        margin-top: 2.4666rem;
    }

    .heatset-color {
        height: 13.33333rem;
        width: 100%;
        background-color: #fff;
    }

    .heatset-color-main {
        height: 100%;

    }

    .color-li {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-prod {
        float: left;
        width: 50%;
        height: 100%;
        background-color: forestgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .color-prod li{
        display: inline-block;
    }
}