.page-shop {

  header {
    border-top-color: map_get($global-color, b);
  }

  .shop-img-row {
    display: flex;
  }

  .shop-img-col {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .shop-img-txt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop-img-dl {
    dt {
      font-size: map_get($global-font-size, b);
      color: map_get($global-color, a);
      line-height: 33px;
      font-family: 'NotoSansCJKjp-Bold' ,$global-default-family;
    }

    dd {
      font-size: map_get($global-font-size, e);
      color: map_get($global-color, a);
      line-height: 25px;
      margin-top: map_get($global-spacing, d);
      font-family: NotoSansCJKjp-Regular ,$global-default-family;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  //mixin shopRegin start
  .shop-region-top {
    margin: (95/$calc-base-num)*$global-font-unit auto (78/$calc-base-num)*$global-font-unit;

    .top-content {
      margin-left: 20%;
      display: flex;
      align-items: flex-end;

      li {
        &:first-child {
          font-size: map_get($global-font-size, d);
          color: map_get($global-color, a);
          font-family: 'NotoSansCJKjp-Bold' ,$global-default-family;

          &:before {
            content: '';
            display: block;
            width: (50/$calc-base-num)*$global-font-unit;
            height: 3px;
            background-color: map_get($global-color, a);
            margin-bottom: map_get($global-spacing, e);
          }

          p {
            line-height: 1;
          }
        }

        &:nth-child(2) {
          margin-left: (42/$calc-base-num)*$global-font-unit;
        }

        &:nth-child(3) {
          margin-left: (100/$calc-base-num)*$global-font-unit;
        }

        &+li {
          font-size: map_get($global-font-size, e);
          p {
            line-height: 1.5;
          }
        }
      }
    }
  }

  .shop-region-content {
    border: 1px dashed map_get($global-color, c);
    padding: (40/$calc-base-num)*$global-font-unit 0 (63/$calc-base-num)*$global-font-unit;
  }
  .shop-region-ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 33.3333%;
      padding: 0 (15/$calc-base-num)*$global-font-unit (80/$calc-base-num)*$global-font-unit;

      .region-item-title {
        font-size: map_get($global-font-size, f);
        font-weight: 600;
        margin-bottom: map_get($global-spacing, h);
        font-family: 'NotoSansCJKjp-Bold', $global-default-family;

        p {
          height: 18px;
        }
      }

      p, a {
        display: block;
        font-size: map_get($global-font-size, e);
        word-break: break-word;
        font-family: "NotoSansCJKjp-Regular", $global-default-family;

      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}