.contact-us-wrap {
  padding: 4.13333rem 0 4.13333rem;

  .contact-cont {
    display: flex;
    justify-content: center;
    transition: all map_get($global-time, transition);

    &:hover {
      opacity: .7;
    }

    span {
      display: inline-block;
      font-size: map_get($global-font-size, g);
      line-height: 1;
      padding: map_get($global-spacing, i) map_get($global-spacing, c);
    }

    .text-row {
      border: 1px solid map_get($global-color, d);
      color: map_get($global-color, e);
    }

    .email-address {
      background-color: map_get($global-color, a);
      color: #fff;
    }
  }
}