footer {
  position: relative;
  @include flex();
  background-color: map_get($global-color, footer);
  color: #fff;
  height: 60px;
  z-index: map_get($global-zIndex, b);
  a {
    color: #fff;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}
/* media start*/
@media screen and (max-width: map_get($global-width, mediaW)) {

}