footer {
  background-color: #000;
  color: #fff;
  padding: map_get($global-spacing, a) 0 map_get($global-spacing, c);
}
.footer-main {
  .contact-wrap {
    display: flex;

    .media-link {
      margin-top: map_get($global-spacing, j);

      a {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .line-icon {
        background-image: url("../image/SNS-icons-04.svg");
        background-size: 100%;
      }

      .f-icon {
        background-image: url("../image/SNS-icons-03.svg");
        background-size: auto 100%;
      }

      .t-icon {
        background-image: url("../image/SNS-icons-02.svg");
      }

      .b-icon {
        background-image: url("../image/SNS-icons-01.svg");
      }
    }
  }

  .bottom-wrap {
    display: flex;
  }
}