header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: .26666rem solid map_get($global-color, g);
  padding: .74666rem 0 .74666rem;
  z-index: map_get($global-zIndex, b);
  transition: background-color map_get($global-time, transition);
  &.is-scrolled {
    background-color:rgba(51,51,51,0.2);
  }
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .6666rem;
    line-height: .6666rem;
    background: transparent;
  }

  .logo {
    display: block;
    width: 3.3333rem;
    height: 100%;
    background-image: url('../image/Logo-product-black.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .nav {
    margin-top: (10/$calc-base-num)*1rem;
  }
  .nav > ul > li{
    position: relative;
    display: inline-block;
    font-size: .21333rem;
    color: #000;
    padding: 0 map_get($global-spacing, i);
    cursor: pointer;
    transition: all map_get($global-time, transition);

    & + li {
      margin-left: .8rem;
    }

    &:hover {
      background-color: #fff;
      color: map_get($global-color, a);
    }

    &.product-link:hover .nav-submenu-wrap {
      height: 1.3rem;
      top: .66666rem;
      z-index: 1;
      opacity: 1;
    }

    a {
      display: block;
    }
  }

  h1 {
    height: 34px;
    line-height: 34px;
    padding: 0 .22666rem;
    font-size: .18666rem;
    border-radius: 5px;
    color: #fff;
  }

  .nav-submenu-wrap {
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    height: 0;
    z-index: -1;
    transition: all map_get($global-time, transition);

    li:hover {
      background-color: darken(#fff, 5%);
      // background-color: map_get($global-color, g);
    }
  }
}