header {
  @include flex();

  background-color: map_get($global-color, header);
  color: map_get($global-color, whiteFont);
  height: map_get($global-height, header);
  font-size: map_get($global-font-size, 22);
  .logo {
    display: block;
    width: (250/$calc-pc)*$global-font-unit;
    height: 100%;
    &:hover {
      opacity: .7;
    }
  }
}

/* media start*/
@media screen and (max-width: map_get($global-width, mediaW)) {
}