$global-color: (
        a:#f7f7f7,
        b:#1a1a1a,
);
$global-padding: (
        container:15px,
        b:#1a1a1a,
);
$global-width: (
        pc:1396px,
        pad:768px,
        phone:320px,
);
$global-time: (
        transition: .3s,
        scroll: .5s
);