$global-color: (
        a: #111,
        b: #E50113,
        c: #D8D8D8
);

$global-zIndex: (
        a: 999,
        b: 90
);

$global-font-size: (
        a: .37333rem, //28px
        b: .29333rem, //22px
        c: .21333rem, //16px
        d: .48rem, //36px
        e: .16rem, //12px
        f: .26666rem, //20px
);

$global-spacing: (
        container:15px,
        a: .93333rem, // 70px
        b: .56rem,  //42px
        c: .8rem, // 60px
        d: .2rem, // 15px
        e: .4rem, //30px
        f: .86666rem, //65px
        g: 1.33333rem, //100px
        h: .466666rem, //35px
        j: 1.6rem, //120x
);

$global-width: (
        pc: 1396px,
        pad: 768px,
        phone: 320px,
        content: 843px,
);

$global-time: (
        transition: .3s,
        scroll: .5s
);