.hide {
  display: none;
}

.main-wrap {
  max-width: map_get($global-width, max-width);
  margin: 0 auto;
  height: 100%;
}
.scroll {
  transition: all ease-in-out map_get($global-time, scroll);
  transform: translate(0,20px);
  opacity: 0;
}

.scroll-left {
  transition: all ease-in-out map_get($global-time, scroll);
  transform: translate(-200px,0);
  opacity: 0;
}

.scroll-right {
  transition: all ease-in-out map_get($global-time, scroll);
  transform: translate(200px,0);
  opacity: 0;
}

.scroll-delay {
  transition: all ease-in-out map_get($global-time, scroll);
  transform: translate(0,20px);
  opacity: 0;
}

.is_scoped{
  transform: translate(0,0);
  opacity: 1;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

/* media start*/
@media screen and (max-width: map_get($global-width, mediaW)) {

}