footer
  .main-wrap.footer
    .contact-wrap
      .contact-link 
        .logo-link 
          img(src="../image/common/logo_ml.png" alt="MONSTER")
        ul.media-link
          li       
            img(src="../image/common/logo_ml.png" alt="MONSTER")
          li       
            img(src="../image/common/logo_ml.png" alt="MONSTER")
          li       
            img(src="../image/common/logo_ml.png" alt="MONSTER")
          li       
            img(src="../image/common/logo_ml.png" alt="MONSTER")      
      .product
        .product-name Product
        ul 
          li F1
          li F2
      .company
        .product-name Company
        ul 
          li About
          li Phylosophy
          li Press
          li Shop list
      .tel-location
        .tel
          .tel-title Tel
          .tel-num 03-3230-6638
        .location
          .location-title Location
          p.location-address  〒102-0083 東京都千代田区 麹町2-14 第1茜ビル6
          p.location-address  1st akane Bld.6, 2-14, Kojimachi, Chiyoda-ku, Tokyo, 102-0083, Japan

    .bottom-wrap
      .http-wrap 
        p http://www.funohm.com/
        ul
          li privacy policy
          li commercial code
          li site map
      .company-tag
      p &#169 2017 FUNOHM Inc.