header.x-header
  .main-wrap.header-wrap
    a.logo(href="./index.html")
      h1
    nav.nav
      ul
        li
          a(href="./philosophy.html") PHILOSOPHY
        li.product-link PRODUCT
          ul.nav-submenu-wrap
            li
              a(href="./product2.html") F2
            li
              a(href="./product1.html") F1
        li
          a(href="./company.html") COMPANY
        li
          a(href="./shopList.html") SHOPLIST