header
  .main-wrap.header-wrap
    a.logo(href="/index.html")
      h1
    nav.nav
      ul
        li
          a(href="/company.html") COMPANY
        li
          a(href="/philosophy.html") PHILOSOPHY
        li PRODUCT

        li
          a(href="/shopList.html") SHOPLIST