header
  .line-wraper
  .header-position
    .main-wrap.header-wrap
      .logo
        h1 
      nav.nav
        ul
          li COMPANY
          li PHILOSOPHY
          li PRODUCT
          li SHOPLIST