extends ../layouts/_default.pug
block page_option
  - page_class.push('page-index')
block content
  .index-home-wrap.x-home-height
    .main-wrap
      .home-content-wrap
        h2
          | 耳に 心に 届ける
          br
          | FLY on your HEARt
        p
          | 完全ワイヤレスイヤホン：ファノーム
          br
          | F2 2018 10.30 DEBUT!
        a.home-more-btn READ MORE