extends ../layouts/_default.pug
block meta
    title F1 製品ページ-完全ワイヤレスイヤホン「ファノーム」公式サイト
block page_option
  - page_class.push('page-product1')
block content
  .banner-wrap.x-home-height
    .banner-content.main-wrap
        .banner-desc.scroll
            .product-intro
                .product1-name F1
                .product-desc 
                    p wireless earphone
                    p 連続7時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。
                    p 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
            img.scroll-right(src="image/product1/F1-FRONT-L.png" alt="FUNOHM")
            img.scroll-right(src="image/product1/F1w-SIDE.png" alt="FUNOHM")
  .func-wrap
    .run-img.scroll-left
        img(src="image/product1/relative-img.png" alt="FUNOHM")
    .rock-img.scroll-right
        img(src="image/product1/kal.png" alt="FUNOHM")
    .func-desc.scroll     
        img(src="image/product1/F1w-eatstabi.png" alt="FUNOHM")
        .func-main
            .func-desc-line
            .func-title-all
                .func-desc-title TOUGHNESS 
                .func-desc-title STABLE FIT
            .func-desc-content 
                p 激しい動きでも 
                p ブレずにしっかりフィット   
            .func-desc-detial 選べる3サイズのイヤースタビライザー×5サイズのイヤーピースで、耳の個性を吸収、微調整し、高いフィット感を実現。さらに耳珠（じじゅ）を利用した装着方法で長時間装着していても痛くない設計に。 
  .battery-main 
    .battery-banner.scroll 
        .main-wrap.battery-content
            ul.battery-list
                li 7時間連続再生OK スタミナモデル
                li イヤーピースは一人ひとりの耳の個性を吸収、微調整し、高いフィット感が可能に。強い力も加わらないので長時間装着しても痛くなりにくい設計。
            .battery-sum  LONG BATTERY LIFE 
    .func-list.main-wrap.scroll  
        ul.fun-list-all
            li 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                    img(src="image/product1/function-graphic02.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p タフネスボディ
                    p 落下などの衝撃に強いボディは、高音質との両立が難しいとされてきた高い防滴性も兼ね備え、ランニングやフィットネスクラブといったアクティブなシーンでも活躍。
                .func-item-img
                    img(src="image/product1/function-graphic04.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p ドイツVARTA社製バッテリー
                    p 通常使用で7時間を超える長寿命バッテリーを開発。1回の充電で1日使用できることを目標に、新幹線や飛行機移動の際にも耐えうる再生時間を実現。フェールセーフの仕組みが組み込まれたドイツVARTA社製の電池を採用しています。
                .func-item-img
                    img(src="image/product1/function-graphic03.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p ２回プッシュでAiアシスタント
                    p 本体ボタンを２回押すことでSiriやGoogleアシスタントに接続。イヤホンをAIスピーカーと同様に使えることでハンズフリーで天気情報収集、お買い物などが楽します。
                .func-item-img
                    img(src="image/product1/function-graphic05.svg" alt="FUNOHM")
            
            .clear   
    
  .heatset-color.scroll  
    .heatset-color-main.main-wrap  
        .color-li
            p Color variation
            ul.color-list
                li
                li
                li
                
        .color-prod
            ul.top
                li 
                    img(src="image/product1/F1-FRONT-L black.svg" alt="FUNOHM")
                li
                    img(src="image/product1/F1-FRONT-multi.png" alt="FUNOHM")
            ul.bottom
                li
                    img(src="image/product1/F1-FRONT-grey02.png" alt="FUNOHM")
  .use-manual.scroll  
    .main-wrap.use-manual-main
        .use-manual-img
            img(src="image/product1/Group@2x.png" alt="FUNOHM")
        .use-manual-desc
            .manual-title
                .black-title FUNOHM 
                .white-title USER MANUAL
            .manual-desc
                .left-desc F1 / 取扱説明書をダウンロード
                a(href="http://www.funohm.com/support/download/F1-manual.pdf").right-desc 取扱説明はこちら
            .manual-desc
                .left-desc 製品カタログをダウンロード
                a.right-desc カタログはこちら
        .clear     
  .include-wrap.scroll  
    .main-wrap.include-wrap-main
        .include-wrap-desc
            p INCLUDE ITEMS
            p パッケージに同梱されているアイテム。
        .include-img
            img(src="image/product1/include.png" alt="FUNOHM")
  .product-imglist.scroll  
    .main-wrap.product-imglist-main
        .product-imglist-img
            img.product1-img(src="image/product/white.png" alt="FUNOHM")
            .product-info 
                p F1   
                p wireless earphone
            .product-hover
            .product-show1
        .product-imglist-img
            img.product2-img(src="image/product/black.png" alt="FUNOHM")
            .product-info 
                p F2   
                p wireless earphone
            .product-hover
            .product-show2

    



               




          
            
        
