extends ../layouts/_default.pug
block page_option
  - page_class.push('page-product1')
block content
  .banner-wrap
    .banner-content.main-wrap
        .banner-desc
            .product1-name F1
            .product-desc 
                p wireless earphone
                p 連続7時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
            img(src="../../image/F1-FRONT-L.png" alt="MONSTER")
            img(src="../../image/F1w-SIDE.png" alt="MONSTER")
        .banner-img1
        .banner-img2    