extends ../layouts/_default.pug
block page_option
  - page_class.push('page-product1')
block content
  .banner-wrap
    .banner-content.main-wrap
        .banner-desc
            .product-intro
                .product1-name F1
                .product-desc 
                    p wireless earphone
                    p 連続7時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
            img(src="../../image/product1/F1-FRONT-L.png" alt="FUNOHM")
            img(src="../../image/product1/F1w-SIDE.png" alt="FUNOHM")
  .func-wrap
    .run-img
        img(src="../../image/product1/relative-img.png" alt="FUNOHM")
    .rock-img
        img(src="../../image/product1/kal.png" alt="FUNOHM")
    .func-desc    
        img(src="../../image/product1/F1w-eatstabi.png" alt="FUNOHM")
        .func-desc-line
        .func-desc-title TOUGHNESS 
        .func-desc-title STABLE FIT
        .func-desc-content 激しい動きでも ブレずにしっかりフィット   
        .func-desc-detial 選べる3サイズのイヤースタビライザー×5サイズのイヤーピースで、耳の個性を吸収、微調整し、高いフィット感を実現。さらに耳珠（じじゅ）を利用した装着方法で長時間装着していても痛くない設計に。  