extends ../layouts/_default.pug
block page_option
  - page_class.push('page-product1')
block content
  .banner-wrap
    .banner-content.main-wrap
        .banner-desc
            .product-intro
                .product1-name F1
                .product-desc 
                    p wireless earphone
                    p 連続7時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
            img(src="../../image/product1/F1-FRONT-L.png" alt="FUNOHM")
            img(src="../../image/product1/F1w-SIDE.png" alt="FUNOHM")
  .func-wrap
    .run-img
        img(src="../../image/product1/relative-img.png" alt="FUNOHM")
    .rock-img
        img(src="../../image/product1/kal.png" alt="FUNOHM")
    .func-desc    
        img(src="../../image/product1/F1w-eatstabi.png" alt="FUNOHM")
        .func-main
            .func-desc-line
            .func-title-all
                .func-desc-title TOUGHNESS 
                .func-desc-title STABLE FIT
            .func-desc-content 
                p 激しい動きでも 
                p ブレずにしっかりフィット   
            .func-desc-detial 選べる3サイズのイヤースタビライザー×5サイズのイヤーピースで、耳の個性を吸収、微調整し、高いフィット感を実現。さらに耳珠（じじゅ）を利用した装着方法で長時間装着していても痛くない設計に。 
  .battery-main
    .battery-banner
        .main-wrap.battery-content
            ul.battery-list
                li 7時間連続再生OK スタミナモデル
                li イヤーピースは一人ひとりの耳の個性を吸収、微調整し、高いフィット感が可能に。強い力も加わらないので長時間装着しても痛くなりにくい設計。
            .battery-sum  LONG BATTERY LIFE 
    .func-list.main-wrap
        ul.fun-list-all
            li 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
            li 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
            
            .clear   
    .heatset-banner.main-wrap
  .heatset-color
    .heatset-color-main.main-wrap  
        .color-li
            p Color variation
            ul.color-list
                li
                li
                li
                li
                li
        .color-prod
            ul.top
                li 
                    img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
                li
                    img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
            ul.bottom
                li
                    img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
                li
                    img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")
                li
                    img(src="../../image/product1/function-graphic02.svg" alt="FUNOHM")




          
            
        
