extends ../layouts/_default.pug
block meta
    title F2 製品ページ-完全ワイヤレスイヤホン「ファノーム」公式サイト
block page_option
  - page_class.push('page-product2')
block content
  .banner-wrap.x-home-height
    .banner-content.main-wrap
        .banner-content-posi
            .banner-img.scroll
                img(src="image/product2/F2-HERO.png" alt="FUNOHM")
            .banner-desc.scroll
                p F2
                p wireless earphone
                p 連続20時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。
                p 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
  .func-wrap
    .run-img.scroll-left
        img(src="image/product2/AdobeStock_193991203.png" alt="FUNOHM")
    .rock-img.scroll-right
        img(src="image/product2/AdobeStock_78454090.png" alt="FUNOHM")
    .func-desc.scroll
        img(src="image/product2/F1-earstabi.png" alt="FUNOHM")
        .func-main
            .func-desc-line
            .func-title-all
                .func-desc-title GOOD SOUNDS
                .func-desc-title ALL AROUND DAYS
            .func-desc-content
                p 圧倒的に途切れない
                p クアルコム社QCC3020搭載
            .func-desc-detial スマートフォンのBluetoothを左右のイヤホンそれぞれに接続する TWS Plus 方式を採用。ICチップ「QCC3020」を 搭載することで音が途切れにくくなりました。
  .battery-main.scroll
    .battery-banner
        .main-wrap.battery-content
            ul.battery-list
                li 20時間連続再生OKスタミナモデル
                li イヤーピースは一人ひとりの耳の個性を吸収、微調整し、高いフィット感が可能に。強い力も加わらないので長時間装着しても痛くなりにくい設計。
            .battery-sum  20 STRAIGHT HOURS
    .func-list.main-wrap.scroll
        ul.fun-list-all
            li
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                    img(src="image/product2/function-graphic02.svg" alt="FUNOHM")
            li
                .func-item-desc
                    p 途切れにくいワイヤレス
                    p 2つのビームフォーミングマイクロフォンによって途切れにくい音声を実現し、クリアな音声を聞くことができます。
                .func-item-img
                    img(src="image/product2/function-graphic01.svg" alt="FUNOHM")
            li
                .func-item-desc
                    p ドイツVARTA社製バッテリー
                    p 通常使用で7時間を超える長寿命バッテリーを開発。1回の充電で1日使用できることを目標に、新幹線や飛行機移動の際にも耐えうる再生時間を実現。フェールセーフの仕組みが組み込まれたドイツVARTA社製の電池を採用しています。
                .func-item-img
                    img(src="image/product2/function-graphic03.svg" alt="FUNOHM")
            li
                .func-item-desc
                    p 衝撃＆汗に負けないタフネスボディ
                    p 4mからの落下にも耐える強度は、高音質との両立が難しいとされる高い防滴性も兼ね備え、ランニングやフィットネスといったアクティブなシーンでも活躍します。
                .func-item-img
                    img(src="image/product2/function-graphic04.svg" alt="FUNOHM")

            .clear
        .func-kinds.scroll
            .func-kinds-img
                img(src="image/product2/F1-FRONT-black.png" alt="FUNOHM")
                img.animation-show(src="image/product2/AI-icon.svg" alt="FUNOHM")
            .func-kinds-desc
                p AI Assistant
                p 2回プッシュでAIアシスタント
                p 本体ボタンを２回押すことでSiriやGoogleアシスタントに接続。イヤホンをAIスピーカーと同様に使えることでハンズフリーで 天気情報収集、お買い物などが楽します。
                ul.kinds-icon
                    li
                        img(src="image/product2/assistant-icon-01.svg" alt="FUNOHM")
                    li
                        img(src="image/product2/assistant-icon-02.svg" alt="FUNOHM")
                    li
                        img(src="image/product2/assistant-icon-03.svg" alt="FUNOHM")
                    li
                        img(src="image/product2/assistant-icon-04.svg" alt="FUNOHM")
    .heatset-banner.main-wrap.scroll
  .heatset-color.scroll
    .heatset-color-main.main-wrap
        .color-li
            p Color variation
            ul.color-list
                li
                li
                li
                li
                li
        .color-prod
            ul.top
                li
                    img(src="image/product2/F1-FRONT-L black.svg" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-multi.png" alt="FUNOHM")
            ul.bottom
                li
                    img(src="image/product2/F1-FRONT-red02.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-grey02.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-green02.png" alt="FUNOHM")
  .use-manual.scroll
    .main-wrap.use-manual-main
        .use-manual-img
            img(src="image/product1/Group@2x.png" alt="FUNOHM")
        .use-manual-desc
            .manual-title
                .black-title FUNOHM
                .white-title USER MANUAL
            .manual-desc
                .left-desc F1 / 取扱説明書をダウンロード
                a(href="http://www.funohm.com/support/download/F2-manual.pdf").right-desc 取扱説明はこちら
            .manual-desc
                .left-desc 製品カタログをダウンロード
                a(href="http://www.funohm.com/support/download/F2_catalogue_web.pdf").right-desc カタログはこちら
        .clear
  .include-wrap.scroll
    .main-wrap.include-wrap-main
        .include-wrap-desc
            p INCLUDE ITEMS
            p パッケージに同梱されているアイテム。
        .include-img
            img(src="image/product1/include.png" alt="FUNOHM")
  include /includes/_productLink.pug













